@charset "UTF-8";
*{
   margin: 0px;
   padding: 0px;
   font-size: 1em;
 
}

body {
    background-color: #c56b4f8c;
    margin: 0px;
}

header{
    text-align: center;
    font-size: 3.5em;
    padding-top: 10px;
    margin-top: 20px;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    background-color: white;
    margin: 0px auto;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow:  -1px 0px 24px 7px rgba(0, 0, 0, 0.322);
    
}

main > section > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    margin: 20px;
    text-indent: 25px;
    text-align: justify;
}

.imagem {
    background-color: rgba(0, 0, 0, 0.263);
    height: 400px;
    width: 69.5vw;
    background-size: cover;
    box-shadow: inset 1px 1px 15px 1px black;
    background-attachment: fixed;
    border-radius: 20px;
   
}



#img1 {
    background-image: url(../imagens/pexels-quang-nguyen-vinh-2132142.jpg);
    position: relative;
    
}

#img1 >p {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.419);
    width: 55vh;
    height: 350px;
    color: white;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    border-radius: 10px;
    transform: translate(-1% ,4%);
    font-weight: bolder;
    font-size: 1.3em;
    line-height: 1.3em;
    text-indent: 25px;
   
    
}

#img2 {
    background-image: url(../imagens/pexels-roman-pohorecki-15379.jpg);
}

#img2 > p {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.402);
    width: 55vh;
    height: 375px;
    color: white;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1.2em;
    line-height: 1.6em;
    text-indent: 25px;
  
}

#img3 {
    background-image: url(../imagens/pexels-michael-block-3225517.jpg);
    background-position: left center;
}

#img3 >p {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.419);
    width: 55vh;
    height: 350px;
    color: white;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    border-radius: 10px;
    transform: translate(-1% ,4%);
    font-weight: bolder;
    font-size: 1.2em;
    line-height: 1.6em;
    text-indent: 25px;
   
}

footer {
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
    width: 100vw;
}
